/.idea/*
/01. Intro (Stocks)/.idea/*
/02. Regression/.idea/*
/03. KNN/.idea/*
/04. SVM/.idea/*
/05. Clustering/.idea/*
/06. Mean Shift/.idea/*
/07. Deep Learning/.idea/*
/07. Deep Learning/temp/*
/07. Deep Learning/mnist/*
/07. Deep Learning/log/*
/07. Deep Learning/dogs_vs_cats/*.npy